<h2> Панель Администратора </h2>

<div class='d-flex justify-content-between'>
  <p class="fw-bold"> Список пользователей </p>
  <%= link_to 'Добавить', new_user_path, class: 'btn btn-dark'%>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Имя</th>
      <th scope="col">Электронная почта</th>
      <th scope="col">Ссылка на телеграм</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.telegram_link %></td>
        <td>
          <%= link_to '✎  Редактировать', edit_user_path(user), class: 'btn btn-outline-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


