<h2>Редактирование группы</h2>

<%= form_with(model: @group, url: group_path(@group), method: :patch) do |form| %>
  <%= form.label :group_name, "Название группы", class: 'form-label' %>
  <%= form.text_field :group_name, class: 'form-control'%>

  <h3 class='mt-3'>Чаты</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">ID чата</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= form_with(model: @group, local: true) do |form| %>
        <% @chats.each do |chat| %>
          <tr>
            <th scope="row"><%= chat.chat_name %></th>
            <td><%= chat.chat_id %></td>
            <td>
              <%= form.check_box :chat_ids, { multiple: true, checked: @group.chat_ids.include?(chat.id) }, chat.id, nil %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= form.submit 'Подтвердить', class: 'btn btn-dark mt-3' %>
<% end %>

<%= button_to "Удалить", group_path(@group), method: :delete, class: 'btn btn-outline-dark mt-3', onclick: "return confirm('Вы уверены, что хотите удалить эту группу?')" %>
